<section class="dashboard-box">
    <!-- TITULO -->
    <section><h1>ComparaOnline Poker Game</h1></section>
    <!-- INICIO -->
    <section class="welcome-container" *ngIf="!dealerService.isTokenExists; else showGame">
        <div *ngIf="!dealerService.tryGetToken; else showLoader">
            <h3>¡Bienvenido!</h3>
            <button (click)="tryBeginPokerGame()" type="button" class="btn btn-info btn-lg btn-block">Comenzar el Juego</button>
        </div>
        <ng-template #showLoader>
            <div class="loader-box">
                <h3>Cargando...</h3>
                <img src="../../../assets/Cube.svg" alt="">
            </div>
        </ng-template>
    </section>

    <!-- JUEGO -->
    <ng-template #showGame>
        <!-- CARTAS -->
        <section class="hands-container">
            <div class="hand-one">
                <h3>Jugador 1</h3>
                <section class="cards">
                    <ul class="list-group" >
                        <li class="list-group-item" *ngFor="let card of playerOneCards">
                            <span class="badge">{{ card.number }}</span>{{ card.suit }}
                        </li>
                    </ul>
                </section>
                <button (click)="getPokerCards('one')" class="btn btn-warning btn-lg" type="button">Pedir Cartas Jugador 1</button>
            </div>
            <div class="hand-two">
                <h3>Jugador 2</h3>
                <section class="cards">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let card of playerTwoCards">
                            <span class="badge">{{ card.number }}</span>{{ card.suit }}
                        </li>
                    </ul>
                </section>
                <button (click)="getPokerCards('two')" class="btn btn-warning btn-lg" type="button">Pedir Cartas Jugador 2</button>
            </div>
        </section>

        <!-- BOTON GANADOR -->
        <section class="btn-container" *ngIf="playerOneCards.length > 0 && playerTwoCards.length > 0">
            <button (click)="getWinner()" type="button" class="btn  btn-danger btn-lg btn-block">Ver Ganador</button>
        </section>
        <!-- MENSAJES -->
        <section class="message-container" *ngIf="existWinner">
            <div class="alert alert-success" role="alert">GANADOR: <span class="winner">{{ winnerName }}</span><br>
                JUGADA: <span class="winner">{{ winningPlay }}</span></div>
        </section>
    </ng-template>

</section>
