.dashboard-box {
    width: 1400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 50px 100px;
}

.dashboard-box section {
    width: 100%;
}

h1 {
    color: #ff9000;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

h3 {
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.welcome-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-container div {
    width: 600px;
}

.welcome-container div button {
    margin-top: 50px;
    font-size: 25px;
    font-weight: 800;
}

.loader-box {
    text-align: center;
}

.hands-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 400px; 
    padding: 15px;
}

.hand-one {
    background: #36aadd;
    width: 400px;
    text-align: center;
}

.hand-two {
    background: #36aadd;
    width: 400px;
    text-align: center;
}

.cards {
    padding: 10px 30px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn-container button {
    width: 500px;
    font-size: 20px;
    font-weight: 800;
}

.message-container {
   display: flex;
   justify-content: center;
}

.message-container div {
    width: 800px;
    font-size: 24px;
    text-align: center;
}

.winner {
    font-size: 25px;
    font-weight: 800;
    color: #ff9000;
}